dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e382a8f2-bfa5-48b5-b8c8-c54a4d4b6bb8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="6010c985-1942-4780-bf37-7377ee42f032" >
		<http:listener doc:name="Listener" doc:id="da9bd964-96fd-47ee-8fb3-f053f7bdc73c" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hi dummy"]' doc:name="Set Payload" doc:id="8d097a3b-c3a4-4376-ad2b-17e78c37352e" />
	</flow>
</mule>
